@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(178, 176, 176);
  font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


